#barraSuperior {
    font-size: $fontXs;
    img{
        width: 20px;
    }
}

@keyframes animateBarra{
    0%{ text-align: center;}
    25%{text-align: left;}
    75%{text-align: right;}
    100%{ text-align: center;}
}

.animate{
    animation-name: animateBarra;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-duration: 5s;
}