.main_titulo--center{
    text-align: center!important;
}

.bloque{
    margin:10%; 
    background-color: $grisa09;
    p{
        @include texto($fontPrincipal, $fontSm, $negro, $fontMd, $fontBold);
        text-align: center;
    }  
}

.perroWidth{
    width: 90%;
    height: auto;
}
