#productos .galeria{
    //uso de extend
	@extend .flexStyle;
    margin: 20px;
    justify-content: space-between;
    background-color: white;
    transition: border 0.5s;
    @media (min-width:480px){
        flex-direction: row;
    }
	figure{
        width: auto;
        text-align: center;
        border: $grisClaro solid 1px;
        @media (min-width:480px) {
            width: 46%;
        }
        @media (min-width:768px) {
            width: 23%;
        }
        &:hover{
            border: 5px solid $grisClaro; 
        }
        img{
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
            width:100%;
            height: 50vh;
            object-fit: cover;
		}
        figcaption{
			font-size: $fontSmBig;
			padding: 10px 5px;
                a{
                    text-decoration: none;
                    color: $negro;
                }
		}
	}
    .price{
        padding-bottom: 10px;
        font-size: $fontSm;
    }
} 

