// variables globales
$gris:rgb(247, 247, 247);
$grisa09: rgba(247, 247, 247,0.9);
$grisa08: rgba(247, 247, 247,0.8);
$grisOscuro: rgb(230, 228, 228);
$grisClaro:#555;
$amarillo: rgb( 245, 214, 0);
$negro:rgb( 13, 13, 13);
$white: rgb(255,255,255);


$fontPrincipal: sans-serif;
$fontSecundary: 'Roboto Condensed', sans-serif;
$fontXxs: 1rem;
$fontXs: 1.8rem;
$fontSm: 2rem;
$fontMd: 2.5rem;
$fontLg: 3rem;
$fontXl: 4rem;

$fontLigth:300;
$fontRegular:400;
$fontBold:700;

$fontWeigth:(
    ligth:300,
    regular:400,
    bold:700
);