<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peluqueria Canina</title>
    <link rel="shortcut icon" href="../img/logo.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>  
        <a href="../index.html">
            <img class="nav_image--size" src="../img/header.png" alt="logo de Todo Can - Lo mejor para tu perro">
        </a>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html">Homepage</a>
            </li>
            <li>
                <a href="productos.html">Productos</a>
            </li>
            <li>
                <a href="peluqueria.html">Peluqueria canina</a>
            </li>
            <li>
                <a href="quienes-somos.html">¿Quienes somos?</a>
            </li>
            <li>
                <a href="contactenos.html">Contactenos</a>
            </li>
        </ul>
    </nav>
    
    
    <main>
        <h1>Peluqueria</h1>
        <section>
            <p>Tenemos las mejores peluquerías para perros y gatos con los mejores peluqueros de mascotas que podrás encontrar.
                Consultá tu sucursal más cercana y cuidá de la apariencia de tu mejor amigo</p>
            <p>El cuidado del pelo de tu mascota es esencial para mantenerla linda y saludable. En Todo Can ofrecemos baños, cortes y peinados que combinan estos dos aspectos fundamentales para el bienestar de tu mascota.</p>
        </section>
        <section class="gridpelu">
            <article class="corteybaño">
                <h3>CORTE Y BAÑO COMPLETO</h3>
                <p>Incluye baño con shampoo natural, secado, corte a máquina y/o tijera, peinado, limpieza de oídos y corte de uñas.</p>
            </article>
            <img class="corteybañopic" src="../img/peluqueria/corteybano.jpeg" alt="corte y baño de perros">
            <article class="baño">
                <h3>BAÑO COMPLETO</h3>
                <p>Incluye baño con shampoo natural, secado, peinado, limpieza de oídos y corte de uñas.</p> 
            </article>
            <img class="bañopic" src="../img/peluqueria/bano.png" alt="Baño de perros">
            <article class="corte">
                <h3>CORTES DE RAZA</h3>
                <p>Schnauzer, Caniche, Cocker Spaniel, Cocker Americano, Golden Retriever, Bichón, Border Collie, Fox Terrier, Yorkshire Terrier, Boyero de Berna, Chow Chow, Husky Siberiano, Pastor Alemán, Pastor Inglé, otras razas.</p>
            </article>
            <img class="cortepic" src="../img/peluqueria/corte.jpg" alt="cortes de raza">
            <article class="uñas">
                <h3>CORTE DE UÑAS</h3>
                <p>Previene heridas e infecciones por rotura de uñas y mantiene suaves las patitas de tu mascota.</p>
            </article>
            <img class="uñaspic" src="../img/peluqueria/corteuna.jpg" alt="Corte de uñas">
        </section>
    </main>

    <footer>
        <a href="http://www.facebook.com" target="_blank"><img src="../img/facebook.png"
            alt="link a pagina de facebook">Facebook</a>
        <a href="http://www.instagram.com" target="_blank"> <img src="../img/instagram.png"
            alt="link a pagina de instagram">Instagram</a>
        <a href="http://www.twitter.com" target="_blank"><img src="../img/twitter.png"
            alt="link a pagina de twitter">Twitter</a>
        <a href="https://web.telegram.org/k/" target="_blank"><img src="../img/telegram.png"
            alt="link a pagina de telegram">Telegram</a>

</body>

</html>