<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos de Todo Can </title>
    <link rel="shortcut icon" href="../img/logo.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>  
        <a href="../index.html">
            <img class="nav_image--size" src="../img/header.png" alt="logo de Todo Can - Lo mejor para tu perro">
        </a>
    </header>
    <nav>
        <ul>
            <li>
                <a href="../index.html">Homepage</a>
            </li>
            <li>
                <a href="productos.html">Productos</a>
            </li>
            <li>
                <a href="peluqueria.html">Peluqueria canina</a>
            </li>
            <li>
                <a href="quienes-somos.html">¿Quienes somos?</a>
            </li>
            <li>
                <a href="contactenos.html">Contactenos</a>
            </li>
        </ul>
    </nav>

    <main id="productos">
        <h1>Productos</h1>

        <h2>Productos destacados</h2>
        
        <section class="galeria">
            <!--top products -->
            <figure>
                <img src="../img/productos/advantix-pipetas.jpg" alt="Advantix antipulgas garrapatas">
                <figcaption>Advantix antipulgas garrapatas perros +25kg</figcaption>
                <p class="price">875$</p>
            </figure>
            <figure>
                <img src="../img/productos/alfombra-perro.jpg" alt="Alfombra Perros Gatos Silicona Base Antideslizante Comedero
                ">
                <figcaption>Alfombra Perros Gatos Silicona Base Antideslizante Comedero</figcaption>
                <p class="price">$2150</p>
            </figure>
            <figure>
                <img src="../img/productos/alimento-excellent.jpg" alt="Alimento Excellent Perros Adulto Small Breed 3kg Razas Mini
                ">
                <figcaption>Alimento Excellent Perros Adulto Small Breed 3kg Razas Mini</figcaption>
                <p class="price">$1550</p>
            </figure>
            <figure>
                <img src="../img/productos/anti-ladrido.jpg" alt="Anti Ladrido Sistema Ultrasonico Adiestrador Good Life
                ">
                <figcaption>Anti Ladrido Sistema Ultrasonico Adiestrador Good Life
                </figcaption>
                <p class="price">$3200</p>
            </figure>
        </section>

        <h2>Otras Productos</h2>

        <section class="galeria">
            <figure>
                <img src="../img/productos/royal-canin.jpg" alt="Alimento Perros Balanceado Royal Canin Mini Dermacomfort 3kg">
                <figcaption>Alimento Perros Balanceado Royal Canin Mini Dermacomfort 3kg</figcaption>
                <p class="price">$4230</p>
            </figure>
            <figure>
                <img src="../img/productos/arnes-seguridad.jpg" alt="Arnes Cinturon Seguridad Perros Afp New Travel X">
                <figcaption>Arnes Cinturon Seguridad Perros Afp New Travel X</figcaption>
                <p class="price">$1980</p>
            </figure>
            <figure>
                <img src="../img/productos/arnes-julius.jpg" alt="Arnes Pretal Perros Ajustable Julius K9 Importado Baby 1">
                <figcaption>Arnes Pretal Perros Ajustable Julius K9 Importado Baby 1</figcaption>
                <p class="price">$7350</p>
            </figure>
            <figure>
                <img src="../img/productos/bebedero-automatico.jpg" alt="Bebedero Automatico Portatil Perros Gatos Botella 330ml">
                <figcaption>Bebedero Automatico Portatil Perros Gatos Botella 330ml</figcaption>
                <p class="price">$650</p>
            </figure>
            <figure>
                <img src="../img/productos/bandeja-sanitaria.jpg" alt="Bandeja Sanitaria Perros Cachorro Pasto 45×32 Facil Limpieza">
                <figcaption>Bandeja Sanitaria Perros Cachorro Pasto 45×32 Facil Limpieza</figcaption>
                <p class="price">$3265</p>
            </figure>
        </section>

            <!-- <table border="3px">
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td>Alimento Royal Canin 20KG</td>
                    <td>$8500</td>
                </tr>
                <tr>
                    <td>Pretal perro mediano</td>
                    <td>$1250</td>
                </tr>
                <tr>
                    <td>Shapoo seco</td>
                    <td>$3400</td>
                </tr>
                <tr>
                    <td>Bebedero plastico</td>
                    <td>$750</td>
                </tr>
            </table> -->
    </main>
    
    <footer>
        <a href="http://www.facebook.com" target="_blank"><img src="../img/facebook.png"
                alt="link a pagina de facebook">Facebook</a>
        <a href="http://www.instagram.com" target="_blank"> <img src="../img/instagram.png"
                alt="link a pagina de instagram">Instagram</a>
        <a href="http://www.twitter.com" target="_blank"><img src="../img/twitter.png"
                alt="link a pagina de twitter">Twitter</a>
        <a href="https://web.telegram.org/k/" target="_blank"><img src="../img/telegram.png"
                alt="link a pagina de telegram">Telegram</a>
    </footer>

</body>

</html>