<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Can - Quienes somos</title>
    <link rel="shortcut icon" href="../img/logo.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    
    <header>    
        <a href="../index.html">
            <img class="nav_image--size" src="../img/header.png" alt="logo de Todo Can - Lo mejor para tu perro">
        </a>
    </header>
    
    <nav>
        <ul>
            <li>
                <a href="../index.html">Homepage</a>
            </li>
            <li>
                <a href="productos.html">Productos</a>
            </li>
            <li>
                <a href="peluqueria.html">Peluqueria canina</a>
            </li>
            <li>
                <a href="quienes-somos.html">¿Quienes somos?</a>
            </li>
            <li>
                <a href="contactenos.html">Contactenos</a>
            </li>
        </ul>
    </nav>


    <main>
        <h1>¿Quienes somos?</h1>
        <section>
            <p>Somos la primera tienda de Bahìa Blanca especializada en productos y servicios para mascotas. Te damos una experiencia diferente de compra, 
                ofreciendo productos y servicios de alta calidad que cumplen con las necesidades de las mascotas y la satisfacción de sus dueños.
                En Todo Can reconocemos a las mascotas como un miembro más de la familia, a las que debemos cuidar, proteger, y brindar el mejor 
                cuidado para que tengan una excelente calidad de vida. Para ello ofrecemos la más amplia variedad en productos alimenticios, accesorios, farmacia, 
                servicios experimentados (veterinaria, peluquería), mascotas para adopción , y mucho más!
            </p>
        </section>
        <!-- descriptive text and image -->
        <section></section>
        <!--top products -->
        <section></section>
        <!-- form -->
        <section></section>
        <!-- map -->
    </main>
    <footer>
        <a href="http://www.facebook.com" target="_blank"><img src="../img/facebook.png"
            alt="link a pagina de facebook">Facebook</a>
        <a href="http://www.instagram.com" target="_blank"> <img src="../img/instagram.png"
            alt="link a pagina de instagram">Instagram</a>
        <a href="http://www.twitter.com" target="_blank"><img src="../img/twitter.png"
            alt="link a pagina de twitter">Twitter</a>
        <a href="https://web.telegram.org/k/" target="_blank"><img src="../img/telegram.png"
            alt="link a pagina de telegram">Telegram</a>
    </footer>

</body>

</html>